@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --text-blue-900: #1f65b7;
    --bg-black-100: #222;
    --bg-white-100:#fff;
    --bg-black-300:#333;
    --bg-gray-200:rgb(98, 98, 98);
    --bg-gray-100:rgb(68, 67, 67);
    --bg-background:#eee;
    --nav-bar:#ffffffad;
    --nav-bar-active:#fff;
    --skill-header:#d7d4d4;
    /* --port-border:#fff; */
    

}
body.dark{
    --bg-blue-900: #1f65b7;
    --bg-black-100: #fff;
    --bg-white-100:#fff;
    --bg-black-300:#fff;
    --bg-gray-200:rgb(193 193 193);
    --bg-gray-100:rgb(203 203 203);
    --bg-background:#111;
    --nav-bar:rgb(58 53 53 / 68%);
    --nav-bar-active:#333;
    --skill-header:#333;
    /* --port-border:#333; */
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
html::-webkit-scrollbar{
    width: .7rem;
}
html::-webkit-scrollbar-thumb{
    background:var(--text-blue-900);
}
html::-webkit-scrollbar-track{
    background:#fff;
}
.web_loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    /* background: #fff; */
    z-index: 1001;
    top: 0%;
    left: 0%;
    right: 0%;
    background: url('../image/loader1.gif'), #fff;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-size: 250px;
}

body{
    /* border: 1px solid red; */
    background: var(--bg-background);
    /* padding: 5rem; */
    width: 100%;
}    
section{
    /* border: 1px solid green; */
    padding: 0rem 9%;
    min-height: 100vh;
    margin: 5rem;
   
}
.up{
    border: 2px solid var(--text-blue-900);
    width: 50px;
    height: 50px;
    bottom: 5%;
    position: fixed;
    background: var(--text-blue-900);
    border-radius: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    right: 4%;
    margin-top: 5px;
}
.up.active{
    visibility: visible;
}
.up i{
    font-size: 3rem;
    color: #fff;
}
.up:hover{
    background-color: transparent;
    /* border: 2px solid var(--text-blue-900); */
}
.up:hover i{
    color: var(--text-blue-900);
}
#menu-bars{
    /* border: 1px solid red; */
    position: fixed;
    top: 1rem;
    right: 3rem;
    z-index: 1000;
    background:var(--text-blue-900);
    border-radius: .5rem;
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    display: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--nav-bar);
    z-index: 1000;
}
.header.active{
    background: var(--nav-bar-active);
}

.navbar{
    /* border: 1px solid gold; */
    padding: 2.5rem;
}

.navbar a{
    padding: 1.5rem;
    color: var(--bg-black-300);
    font-size: 1.8rem;
}
.navbar a:hover{
    color: var(--text-blue-900);
}
.navbar .active{
    color: var(--text-blue-900);
}
header .logo{
    width: 60px;
    height: 60px;
}
header .logo img{
    width: 100%;
    height: 100%;
}
.btn_cv{
    border: 2px solid var(--text-blue-900);
    width: max-content;
    padding: .99rem;
    /* border-radius: 33px; */
    font-size: 1.6rem;
    /* transition: 0.5s linear; */
    position: relative;
    color: var(--bg-black-300);
}
.btn_cv span{
    background: var(--text-blue-900);
    position: absolute;
    width: 0;
    z-index: -1;
    /* border-radius: 33px; */
    top: 0%;
    left: 0%;
    height: 100%;
    /* left: 0%; */
    transition: 0.4s linear;
}
.btn_cv:hover {
    /* background: var(--text-blue-900); */
    color: var(--bg-white-100);
    /* border: var(--text-blue-900); */
}
.btn_cv:hover span{
    width: 100%;
} 
.home{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */ 
}
.home #particles-js{
    /* border: 1px solid royalblue; */
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    color: #fff;
    height: 100%;
}
.home .content{
    /* border:1px solid red; */
    text-align: center;
    z-index: 1;
}
.home .content img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1rem solid var(--text-blue-900);
}
.home .content h3{
    font-size: 4rem;
    color: var(--bg-black-100);
    text-transform: uppercase;
}
.home .content h3 span{
    font-size: 4rem;
    color: var(--text-blue-900);
    text-transform: uppercase;
}
.home .content p{
    font-size: 2.5rem;
    color: var(--bg-black-100);
    line-height:2;
}
.home .pointer {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 26px;
    height: 42px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid rgb(143, 142, 142);
    border-radius: 26px;
    /* -webkit-backface-visibility: hidden */
   /* transform: translate(-50%, -50%); */
}
.pointer::after{
    content: '';
    position: absolute;
    background: #706262;
    width: 5px;
    margin-left: 9px;
    height: 15px;
    border-radius: 5px;
    top: 5px;
    transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
    animation:scroll 1.0s -1s cubic-bezier(0.68, -0.55, 0.02, 0.04) infinite;
    animation-direction: alternate;
    /* transition: .1s ease-in-out; */
    
}
@keyframes scroll{
    0%{
      top: 15px; 
    }
    50%{
        bottom:9px;
    }
    100% {
        bottom: 5px;
    }
    /* to {
        -webkit-transform: translateY(20px) scaleY(2.5) scaleX(.5) translateZ(0);
        transform: translateY(20px) scaleY(2.5) scaleX(.5) translateZ(0);
       
    } */
}
.about{
    /* border: 1px solid rebeccapurple; */
    margin-top: 5rem;
}
.heading{
    /* border: 1px solid gold; */
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:var(--bg-black-100);
}
.heading span{
    text-transform: uppercase;
    color:var(--text-blue-900);
}
.about h1::before{
    content: '';
    position: absolute;
    background: var(--bg-black-100);
    width: 32rem;
    height: 5px;
    margin-top: 74px;
    border-radius: 5px;
}
.about h1::after{
    content: '';
    position: absolute;
    background: var(--text-blue-900);
    width: 5rem;
    height: 16px;
    margin-left: -18rem;
    margin-top: 68px;
    border-radius: 20px;
}
.about .row{
    /* border: 1px solid goldenrod; */
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.about .row .image{
    /* border: 1px solid rebeccapurple; */
    text-align: center;
    height: 41.5rem;
    /* width: 30rem; */
    flex:1 1 25rem;
    margin-right: 32px;
    margin-top: 40px;
}
.about .row .image img{
    /* width: 30rem; */
    width: 100%;
    height:100%;
    border-radius: .5rem;
    border: 1rem solid var(--bg-white-100);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.about .row .content{
    flex:1 1 55rem;
}

.about .row .content h3{
    font-size: 4rem;
    color: var(--text-blue-900);
}
.about .row .content h3 span{
    color: var(--bg-black-100);
}
.about .row .content .info{
    /* border: 1px solid rebeccapurple; */
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.7;
   color: var(--bg-black-100);
}
.about .row .content .box-container{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}
.about .row .content .box-container .box{
    /* border: 1px solid green; */
    flex: 1 1 20rem;
}

.about .row .content .box-container .box p{
   font-size: 1.7rem;
   color: var(--bg-black-100);
   line-height: 2;
   padding: .5rem 0;
}
.about .row .content .box-container .box p span{
    color: var(--text-blue-900);
    font-weight: bolder;
}

.qualification h1::before{
    content: '';
    position: absolute;
    background: var(--bg-black-100);
    width: 35rem;
    height: 5px;
    margin-top: 75px;
    border-radius: 5px;
    margin-left:59px ;
}
.qualification h1::after{
    content: '';
    position: absolute;
    background: var(--text-blue-900);
    width: 5rem;
    height: 16px;
    margin-left: -25.7rem;
    margin-top: 68px;
    border-radius: 20px;
}
.qualification .row{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.qulification_data{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 3.5rem;
    padding: 10px;
}
.qulification_title{
    font-size: 1.9rem;
    color: var(--bg-black-100);
}
.qulification_sub{
    font-size: 1.7rem;
    color: var(--bg-gray-200);
}
.qulification_calender{
    color: var(--bg-gray-100);
    font-size: 1.5rem;
}
.qulification_calender i{
    color: var(--text-blue-900);
}
.qulification_rounder{
    width: 15px;
    height: 15px;
    background: transparent;
    position: absolute;
    border-radius: 50px;
    border: .2rem solid var(--text-blue-900);
    display: inline-block;
}
.qulification_line{
    width: 1px;
    height: 111%;
    background: var(--bg-black-300);
    display: block;
    transform: translate(7px,14px);
}
.qulification_data:hover .qulification_rounder{
    background: var(--text-blue-900);
}

.skill .heading::before{
    content: '';
    position: absolute;
    background: var(--bg-black-100);
    width: 14rem;
    height: 5px;
    margin-top: 75px;
    border-radius: 5px;
    margin-left:13px ;
}
.skill .heading::after{
    content: '';
    position: absolute;
    background: var(--text-blue-900);
    width: 5rem;
    height: 16px;
    margin-left: -10.6rem;
    margin-top: 68px;
    border-radius: 20px;
}
.skill .row{
    /* border: 1px solid royalblue; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill .skill_container{
    /* border: 1px solid rebeccapurple; */
    /* display: grid;
    grid-template-columns: 51.5rem;     */
    width: 50%;
    /* display: inline-flex; */
    flex-wrap: wrap;
}
.skill .skill_container .skill_header{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* background: #eee; */
    color: var(--bg-black-100);
    margin-bottom: 15px;
    cursor: pointer;
    padding: 6px;
}
.skill_icon,.skill_arrow{
    font-size: 2rem;
    color: var(--text-blue-900);
}
.skill_icon{
    margin-right: 10px;
    margin-left: 5px;
}
.skill_title{
    /* border: 1px solid yellow; */
    font-size: 1.125rem;
}
.skill_subtitle{
    font-size: 1.25rem;
    color: var(--bg-gray-200);
}

.skill_arrow{
    margin-left: auto;
    transition: .4s;
}
.skill_titles{
    /* border:1px solid royalblue; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--bg-black-100);

}
.skill_name,.skill_number{
    font-size: 1.5rem;
    padding: 5px;
}
.skill_bar,.slkill_percentage{
    /* border: 1px solid green; */
    height: 8px;
    border-radius: .50rem;
    /* margin: 5px; */
}
.skill_bar{
    background-color: #c9c6c6;
    margin: 5px;
}
.slkill_percentage{
    background-color: var(--text-blue-900);
    display: block;
}
.skill_html{
    width: 90%;
    background: #e34c26;
}
.skill_css{
    width: 80%;
    background: #264de4;
}
.skill_js{
    width: 75%;
    background: #F0DB4F;
}
.skill_scss{
    width: 70%;
    background: #c69;
}
.skill_php{
    width: 85%;
    background: #474A8A;
}
.skill_mysql{
    width: 75%;
    background: #00758f;
}
.skill_java{
    width: 70%;
    background: #f89820;
}
.skill_python{
    width: 55%;
    background: #4B8BBE;
}
.skill_word{
    width: 90%;
    background: #00a4ef;
}
.skill_powerpoint{
    width: 90%;
    background: #f25022;
}
.skill_excel{
    width: 75%;
    background: #7fba00;
}

.skill_close .skill_list{
    height: 0;
    overflow: hidden;
}
.skill_open .skill_header{
    background: var(--skill-header);
}
.skill_open .skill_list{
    height: max-content;
    margin-bottom: 3rem;
}
.skill_open .skill_arrow{
    transform: rotate(-180deg);
}
.skill_info{
    /* border: 1px solid red; */
    font-size: 1.7rem;
    padding: 5px 35px;
    color: var(--bg-black-100);
    flex: 1;
    position: sticky;
    align-items: center;
    display: flex;
   /* line-height: 2px; */
   text-align: justify;
}
.skill_info p{
    line-height: 3.2rem;
}
.skill_content .skill_header.active{
    background: var(--bg-black-300);
}
.service .heading::before{
    content: '';
    position: absolute;
    background: var(--bg-black-100);
    width: 23rem;
    height: 5px;
    margin-top: 75px;
    border-radius: 5px;
    margin-left:12px ;
}
.service .heading::after{
    content: '';
    position: absolute;
    background: var(--text-blue-900);
    width: 5rem;
    height: 16px;
    margin-left: -14.5rem;
    margin-top: 68px;
    border-radius: 20px;
}
.service_box_container{
    display: flex;
    /* border: 1px solid rebeccapurple; */
    justify-content: center;
    flex-wrap: wrap;
}
.service_box{
    /* border:1px solid gold; */
    flex: 1 1 12rem;
    background: #fff;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
   
}
.service_box .service_icon{
    /* border: 1px solid green; */
    padding: 10px;
    font-size: 5rem;
    color: var(--text-blue-900);
    display: flex;
}
.service_box .heading_service{
    /* border: 1px solid hotpink; */
    padding: 10px;
    font-size: 2.5rem;
}
.service_box .view_more{
    border: .3rem solid var(--text-blue-900);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 10px;
   cursor: pointer;
    position:relative;
    /* z-index: 111; */
    font-size: 1.7rem;
}
.service_box .view_more:hover{
    background: var(--text-blue-900);
    color: var(--bg-white-100);
}

.service_modal{
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  justify-content: center;
  padding: 0 1rem;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
}
.service_modal_content{
    background: #fff;
    padding: 1.5rem;
    border-radius: .5rem;
    position: relative;
}
.modal_heading_service{
    font-size: 2rem;
    padding: 10px;
    /* border: 1px solid red; */
}

.service_modal_services{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 5px;
    font-size: 1.7rem;
}
.service_modal_content .btn-close{
    /* border: 1px solid green; */
    /* margin-left: 25rem; */
    position: absolute;
    top: 26px;
    font-size: 2.2rem;
    right: 20px;
    cursor: pointer;
}
.service_modal_icon{
    position: relative;
}
.service_modal.active{
    visibility: visible;
    opacity: 1;
} 
.portfolio{
    /* border: 1px solid rebeccapurple; */
    margin-top: -20rem;
}
.portfolio .row{
    margin-top: 3rem;
}
.portfolio .heading::before{
    content: '';
    position: absolute;
    background: var(--bg-black-100);
    width: 31rem;
    height: 5px;
    margin-top: 75px;
    border-radius: 5px;
    margin-left:12px ;
}
.portfolio .heading::after{
    content: '';
    position: absolute;
    background: var(--text-blue-900);
    width: 5rem;
    height: 16px;
    margin-left: -19.5rem;
    margin-top: 68px;
    border-radius: 20px;
}
.portfolio .box-container{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.portfolio .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    border:1rem solid var(--nav-bar-active);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    overflow:hidden;
    /* max-width: 30rem; */
    height:25rem;
}
.portfolio .box-container .box img{
    height: 100%;
    width:100%;
   object-fit: cover;
}

.portfolio .box-container .box .content{
    height: 100%;
    width:100%;
    position: absolute;
    top:0; left:-100%;
    background:#fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-class-learn{
    display: inline-block;
    margin-top: 4rem;
    padding:.8rem 3rem;
    background:#222;
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
}
.btn-class-learn:hover{
    background:var(--text-blue-900);
    letter-spacing: .2rem;
}
.portfolio .box-container .box:hover .content{
    left:0;
}
.port-heading{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    position: absolute; 
    top: 7.2rem;
    flex: 1 1 12rem;
    font-size: 2.5rem;
    color: #111;
    font-weight: bolder;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact{
    /* border: 1px solid rebeccapurple; */
    margin-top: 12.5rem;
}
.contact .heading::before{
    content: '';
    position: absolute;
    background: var(--bg-black-100);
    width: 35rem;
    height: 5px;
    margin-top: 75px;
    border-radius: 5px;
    margin-left:23px ;
}
.contact .heading::after{
    content: '';
    position: absolute;
    background: var(--text-blue-900);
    width: 5rem;
    height: 16px;
    margin-left: -21rem;
    margin-top: 68px;
    border-radius: 20px;
}
.contact .row{
    /* border: 1px solid red; */
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap:1.5rem;
}
.contact .row .image{
    flex:1 1 40rem;
    /* border: 1px solid gold; */
}
.contact .row .image img{
    width: 100%;
    /* height: 100%; */
}
.contact .row .box-container{
    flex: 1 1 40rem;
}
.contact .row .box-container .box{
    display: flex;
    align-items: center;
    margin: 20px;
}
.contact .row .box-container .box i{
    /* border: 1px solid black; */
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    background: var(--text-blue-900);
}
.contact .row .box-container .box .info{
    /* border: 1px solid gold; */
   font-size: 1.7rem;
   padding: 5px;
   margin: 5px 20px;
   color: var(--bg-black-100);
}

.footer .row{
    background: var(--nav-bar);
    justify-content: center;
    align-items: center;
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: 1fr;
}
.footer .row .icons{
    /* border:1px solid rebeccapurple; */
    display: flex;
    /* margin: 5px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer .row .icons i{
    border: .3rem solid var(--text-blue-900);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background: var(--text-blue-900);
    color: #fff;
    padding: 5px;
    border-radius: 50px;
    margin: 10px;
}
.footer .row .icons i:hover{
    background: transparent;
    color: var(--bg-black-100);
}
.footer .row .msg{
    /* border: 1px solid red; */
    font-size: 1.8rem;
    padding: 10px;
    margin: 5px;
    flex-wrap: wrap;
    color: var(--bg-black-300);
}
.footer .row .msg span{
    color: var(--text-blue-900);
}
.black-white{
    /* border: 1px solid red; */
    width: 50px;
    height: 50px;
    position: fixed;
    right: 4%;
    top: 15%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    background: var(--bg-white-100);
    cursor: pointer;
}


/* Media Querise */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        /* border: 1px solid yellow; */
        padding: 2rem;
    }
    #menu-bars{
        display: initial;
    }
    header{
        /* border: 1px solid rebeccapurple; */
        width: 100%;
        left: -120%; 
         height: 100vh;
    }
    header.active1{
        left: 0%;
    }
    header .navbar{
        writing-mode: horizontal-tb;
    }
    header .navbar a{
        display: block;
        font-size: 3rem;
    }
    .header .logo{
        position: fixed;
        z-index: 1000;
        top: 1rem;
        left: 1rem;
    }
    #btn_header_cv{
        display: none;
    }

}
@media (max-width:730px){
    /* .skill_container{
        width: 100%;
    } */
}
@media (max-width:645px){
   
    .skill_container{
        width: 100% !important;
    }
    .skill_info{
        padding: 5px 4px;
    }
}
@media(max-width:530px){    
    .qualification h1::after{
        /* width: 5rem; */
        margin-left: -1.7rem;
        margin-top: -2px;
        /* border-radius: 20px; */
    }
    .portfolio{
        margin-top: 0rem;
    }
}
@media (max-width:457px){
    html{
        /* border: 1px solid yellowgreen; */
        font-size: 50%;
        padding: 0%;
       
    }
    body{
        /* border: 1px solid hotpink; */
        padding: 0%;
        width: 100%;
    }
    
    section{
        /* border: 1px solid green; */
        padding: 0rem;
    }
    .heading{
        font-size: 4rem;
    }
    .skill .skill_container{
        width: 100%;
    }
    .about h1::before{
        width: 19rem;
        height: 5px;
        margin-top: 44px;
        margin-left: 10px;
    }
    .about h1::after{
        width: 5rem;
        height: 16px;
        margin-left: -13rem;
        margin-top: 38px;
    }
    .qualification h1::before{
        width: 20rem;
        margin-top: 44px;
        margin-left: 46px;
    }
    .qualification h1::after{
        width: 5rem;
        margin-left: -17.8rem;
        margin-top: 38px;
        border-radius: 20px;
    }
    .skill .heading::before{
        width: 12rem;
        margin-top: 42px;
        margin-left: -2px;
    }
    .skill .heading::after{
        margin-left: -7.6rem;
        margin-top: 36px;
    }
    .service .heading::before{
        width: 13rem;
        margin-top: 42px;
        margin-left: 15px;
    }
    .service .heading::after{
        margin-left: -10.6rem;
        margin-top: 36px;
    }
   
    .portfolio .heading::before{
        width: 21rem;
        margin-top: 44px;
        margin-left: 8px;
    }
    
    .portfolio .heading::after{   
        margin-left: -13.5rem;
        margin-top: 38px;
    }
    .contact .heading::before{
        width: 21rem;
        margin-top: 44px;
        margin-left: 24px;
    }
    
    .contact .heading::after{   
        margin-left: -15.1rem;
        margin-top: 38px;
    }
    
    
}
@media (max-width:399px){
    html{
        font-size: 40%;
    }
}
@media (max-width:347px){
    html{
        font-size: 35%;
        width: 118%;
    }
}