*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* border:1px solid red; */
    background: linear-gradient(to left,rgba(116,235,213,0.6),rgba(159,172,230));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    width: 99%;
}
.container{
    background: #fff;
    border-radius: 10px;
    box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0, 0.034),0.6.7px 5.3px rgba(0,0,0,0.048);
    overflow: hidden;
    width: calc(99% - 65%);
    max-width: 100%;
}
.header{
    /* border:1px solid red; */
    background:linear-gradient(90deg,rgb(21, 140, 151), rgb(19, 218, 141));
   padding: 20px 0px;
}
.header h2{
    color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.form{
    /* border:1px solid yellow; */
    padding: 40px;
}
.form-control{
    position: relative;
    /* border:1px solid green; */
    margin-bottom: 20px;
}
.form-control label{
    display: inline-block;
    /* border:1px solid gold; */
    margin-bottom: 5px;
}
.form-control input{
    width: 100%;
    border:2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    font-size: 15px;
    padding: 12px;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}
.form-control i{
    position:absolute;
    right: 12px;
    top:38px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle{
    color: #2ecc2e;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}
.form-control small{
    color: red;
    position: absolute;
    /* bottom: 0%; */
    left: 0%;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form-control.success input{
    border-color: #2ecc2e;
}
.form-control.error input{
    border-color: #e74c3c;
}

.form .btn{
    /* border:1px solid green; */
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(90deg,rgb(21, 140, 151), rgb(19, 218, 141));
    font-size: 20px;
    border-radius: 6px;
    padding: 11px 0px;
    margin-top: 20px;
    transition: 0.5s ease;
}
.form .btn:hover{
    background: linear-gradient(90deg,rgb(22, 132, 206),rgb(2, 255, 158));
}
@media(max-width:998px) {
    .container{
        width: calc(100vw - 35vw);
        max-width: 100%;
    }
}